@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: "DM Sans", sans-serif;;
}

div {
    border-radius: 10px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    max-width: 1010px;
    min-width: 995px;
    height: 780px;
    padding-top: 20px;
    margin: auto;
}
    
.div1 {
    grid-row: span 3 / span 3;
    background-color: #faeee2;
    height: 100%;
    width: 100%;
    max-width: 260px;
    min-width: 200px;
}

.div1 .create {
    font-size: 2rem;
    line-height: 1.8rem;
    font-weight: 500;
    letter-spacing: -2px;
    margin: 5% 15%;
    margin-top: 3.5rem;
}

.div1 .create span {
    color: #7651dc;
    font-style: italic;
}

.div1 img {
    width: 70%;
    margin: 15%;
    margin-top: 8px;
}

.div3 {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
    background-color: #ffcc69;
    height: 90%;
    width: 100%;
    max-width: 260px;
    min-width: 200px;
}

.div3 .write {
    font-size: 2rem;
    line-height: 1.8rem;
    font-weight: 500;
    letter-spacing: -2px;
    margin: 10% 15%;
    margin-top: 1rem;   
  }

.div3 img {
    width: 80%;
    margin: 12.5%;
    margin-top: 8px;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: #7651dc;
    height: 110%;
    max-width: 500px;
    min-width: 480px;
}

.div4 p {
    font-size: 2.8rem;
    line-height: 2.5rem;
    color: white;
    font-weight: 500;
    margin: 0 15% 5% 15%;
    margin-top: 3rem;  
    margin-bottom: -25px;
    text-align: center;
}

.div4 span {
    color: #ffcc69;
}

.div4 b {
    font-style: italic;
    font-weight: 500;
}

.div4 img {
    width: 30%;
    margin-left: 36%;
    margin-bottom: -55px;
    margin-top: -80px;
}

.div4 .peq {
    font-size: 0.8rem;
    margin-left: 16.5%;
}

.div5 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: #ffffff;
    height: 90%;
    width: 100%;
    max-width: 250px;
    min-width: 200px;
    overflow: hidden;
    margin-top: 23px;
}

.div5 img {
    width: 340px;
}

.div5 p {
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 20px ;
    margin-top: 0.5rem;  
}

.div6 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
    background-color: #ffcc69;
    height: 90%;
    width: 100%;
    max-width: 250px;
    min-width: 200px;
    overflow: hidden;
    margin-top: 23px;
 }

 .div6 p {
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 20px ;
}

.div6 img {
    width: 80%;
    margin: 0 10%;
}

.div7 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 5;
    background-color: #ffffff;
    height: 84%;
    width: 100%;
    max-width: 250px;
    min-width: 200px;
}

.div7 .percent {
    font-size: 3.5rem;
    font-weight: 600;
    margin-left: 10%;
}

.div7 .faster {
    margin-left: 10%;
    font-weight: 600;
}

.div7 img {
    width: 80%;
    margin-left: 10%;
    margin-top: 7%;
}

.div8 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
    background-color: #7651dc;
    height: 84.5%;
    max-width: 500px;
    min-width: 480px;
    display: flex;
}

.div8 img {
    width: 90%;
    height: 80%;
    margin: 5%;
}

.div8 p {
    align-items: flex-start;
    margin-top: 12%;
    font-size: 2rem;
    color: white;
    letter-spacing: -1px;
    line-height: 2.2rem;
}

.div9 {
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 1;
    background-color: #dcd1fc;
    height: 100%;
    width: 100%;
    max-width: 260px;
    min-width: 200px;
    overflow: hidden;
}

.div9 h2 {
    font-size: 1.7rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: -1px;
    margin: 18% 10% 10% 15%;
}

.div9 img {
    width: 140%;
    height: 50%;
    margin-left: 15%;
}

.div9 p {
    font-size: 1rem;
    margin: 5% 15%;
    font-weight: 500;
}

footer {
    background-color: #444;
    color: white;
}

footer a {
    color: #ccc;
}

@media screen and (max-width: 400px) {
  
    .parent {
        display: flex;
        flex-direction: column;
        max-width: 1010px;
        min-width: 995px;
        height: 780px;
        padding-top: 20px;
        margin: auto;
    }
    
}